**/*.*
!/_engine/**
!/.gitattributes
!/.gitignore
!/_config.yml
!/download_dependencies.bat
!/INSTALL
!/LICENSE
!/new_project.bat
!/open_documentation.bat
!/README.md
!/todo.txt
**/.DS_Store
.DS_Store
