#if PIXIE_WINDOWS

#if PIXIE_IS_ITERATIVE_BUILD
#include "resources_windows_x64_iterative.hpp"
#else

#if PIXIE_IS_TESTER_BUILD
#include "resources_windows_x64_tester.hpp"
#else

#if PIXIE_IS_DEBUG_BUILD

#if PIXIE_IS_PORTABLE_BUILD
#include "resources_windows_x64_debug_portable.hpp"
#else
#include "resources_windows_x64_debug.hpp"
#endif

#elif PIXIE_IS_FINAL_BUILD

#if PIXIE_IS_PORTABLE_BUILD
#include "resources_windows_x64_final_portable_deploy.hpp"
#else
#include "resources_windows_x64_final_deploy.hpp"
#endif

#else

#if PIXIE_IS_PORTABLE_BUILD
#include "resources_windows_x64_hybrid_portable.hpp"
#else
#if PIXIE_IS_DEPLOY_BUILD
#include "resources_windows_x64_hybrid_deploy.hpp"
#else
#include "resources_windows_x64_hybrid.hpp"
#endif
#endif

#endif
#endif
#endif

#else
#error This platform is not yet supported!
#endif